body{
  margin: 0;
  padding: 0;
  background-color: rgb(242,242,242);
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-image{
  background-image: url('../img/background_photo-1200.jpg');
  background-position: center;
  background-size: 1200px 630px;
  background-color: rgb(129,179,210);
  width: 1200px;
  min-height: 505px;
  position: relative;
}

.main-header{
  background-color: rgb(255,255,255);
}

.filter{
  background-image: url('../img/background-blur.jpg');
  background-position: center;
  background-repeat:no-repeat;
  background-color: rgb(129,179,210);
  width: 1200px;
  min-height: 217px;
}

.main-image-border{
  background-image: url('../img/background-white-1200.png');
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.header{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.modal-find-header{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0px;
  margin-bottom: 25px;
}

.headers p{
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

.site-navigation-item a,
.catalog-item-title,
.button-description,
.button-booking,
.modal-open a{
  text-decoration: none;
}

.main-header{
  background-color: rgb(255,255,255);
  }

.site-navigation{
  line-height: 26px;
  list-style: none;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover{
  color: rgb(129,179,210);
}

.site-navigation a:active{
  color: rgba(178,178,178);
}

.site-navigation .current{
  color: rgba(118,99,87);
}

.feature-list{
  list-style: none;
}

.fearutes-items{
  text-align: center;
}

.feature-name{
  font-size: 21px;
}

.description .feature-name {
  font-weight: 400;
}

.feature-content{
  font-weight: 400;
}

.feature-one .description,
.feature-two .description{
  background-color: rgb(129,179,210);
  text-align: center;
  color: rgb(255,255,255);
  width: 400px;
  padding-top: 48px;
  padding-bottom: 34px;
}

.feature-two{
  background-color: rgb(238,238,238);
}

.modal-find-title p{
  line-height: 24px;
  font-weight: 400;
}

.modal-open{
  display: block;
  width: 570px;
  box-sizing: border-box;
  margin: auto;
  font: inherit;
  line-height: 26px;
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118,99,87);
  color: rgb(255,255,255);
  text-transform: uppercase;
  border: none;
  padding: 30px 140px;
  text-decoration: inherit;

  }

.modal-open:focus,
.modal-open:hover {
  background-color: rgb(96,78,67);
}

.modal-open:active{
  background-color: rgb(80,62,51);
  color: rgba(255,255,255,0.3);
}

.modal input{
  font: inherit;
  text-transform: uppercase;
  border: none;
  background-color: rgb(238,238,238);
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
}

.modal input:hover{
  background-color: rgb(235,235,235);
}

.modal input:focus{
  background-color: rgb(255,255,255);
  border-color: rgb(229,229,229);
}

.date-input,
.person-input{
  background-color: rgb(238,238,238);
  border: none;
}

.find-hotel-group-grown-ups .person-input{
  margin-left: 43px;
}

.find-hotel-group-grown-children .person-input{
  margin-left: 25px;
}

.modal-find-start{
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(129,179,210);
  color: rgb(255,255,255);
  text-transform: uppercase;
  border: none;
  width:100%;
  padding: 15px 50px;
  cursor: pointer;
}

.modal-find-start:focus,
.modal-find-start:hover {
  background-color: rgb(102,158,192);
}

.modal-find-start:active{
  background-color: rgb(84,150,189);
  color: rgba(255,255,255,0.3);
}

.modal-find{
  display: none;
  width:570px;
  margin: auto;
  padding: 55px;
  position: absolute;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  right: 50%;
  transform: translateX(50%);
}

@keyframes form-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.state-open{
  display: block;
  z-index: 2;
  animation: form-opacity 1s
}

.modal-find input[type='text']{
  font: inherit;
}

.find-hotel-group input[type='text']{
  width: 345px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
}

.person input[type='text']{
  width: 45px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
}

.find-hotel-group input[type='text']::-webkit-input-placeholder{
  color: rgb(0,0,0);
}

.find-hotel-group input[type='text']:-ms-input-placeholder{
  color: rgb(0,0,0);
}

.find-hotel-group input[type='text']::-ms-input-placeholder{
  color: rgb(0,0,0);
}

.find-hotel-group input[type='text']::placeholder{
  color: rgb(0,0,0);
}

.plus,
.minus{
  width: 30px;
  border: none;
  padding: 5px 5px;
  margin: auto;
  background-color: rgb(238,238,238);
  color: rgb(169,169,169);
  font-size: 22px;
  vertical-align: middle;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.plus:hover,
.minus:hover,
.plus:focus,
.minus:focus{
  color: rgb(0,0,0);
}

.plus:active,
.minus:active{
  color: rgb(129,179,210);
}

.find-hotel-group{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.modal-find-calendar{
  background-image: url('../img/calendar.svg');
  background-color: rgba(0,0,0,0);
  border: none;
  width: 35px;
  height: 35px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  color: black;
  cursor: pointer;
  outline: none;
}

.modal-find-calendar:hover,
.modal-find-calendar:focus{
  background-image: url('../img/calendar-hover.svg');
}

.modal-find-calendar:active{
  background-image: url('../img/calendar-active.svg');
}

.person{
  margin-bottom:55px;
}

.find-hotel-group-grown-ups,
.find-hotel-group-grown-children{
  display: flex;
  align-items: center;
}

@keyframes border-modal {

  10%,
  30%,
  50%{
    border-color: rgb(193,0,32);
  }

  60%,
  80%,
  100%{
    border-color: transparent;
  }
}



.modal-error {
  border: 2px solid transparent;
  animation: border-modal 0.6s;
}

.map{
  background-image: url('../img/map.jpg');
  background-color: rgb(242,242,242);
  width: 1200px;
  height: 595px;
  background-repeat: no-repeat;
  position: relative;
  }

.map-google{
  position: relative;

}
/*footer*/

.tag{
  line-height: 26px;
  font-size: 21px;
  text-align: center;
  margin: 0px;
}

.social{
  text-align: center;
  height:47px;
}

.social-list{
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.social-item{
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  background-color: rgb(129,179,210);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
}

.social-link{
  display: flex;
  align-items: center;
}

.social-item:hover,
.social-item:focus{
  background-color: rgb(102,158,192);
}

.social-item:active svg{
  opacity: 0.3;
}

.copyrights{
  line-height: 26px;
  text-align: center;
}

.footer-text{
  display: inline-block;
  vertical-align: middle;
}

/*catalog*/
.filter {
  color: rgb(255,255,255);
}

.filter fieldset {
  border: none;
}

.filter-list{
  list-style: none;
  margin: 0px;
  position: relative;
}

.filter-option{
  font-weight: 400;
}

.price-value{
  font-weight: 400;
}

.price-value input{
  font: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255,255,255);
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.price-value input:focus,
.price-value input:active{
  border: none;
}

.filter-show{
  font: inherit;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0,0,0,0);
  color: rgb(255,255,255);
  text-transform: uppercase;
  border: 2px solid rgb(255,255,255);
  padding: 6px 33px;
}

.filter-show:focus,
.filter-show:hover {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.catalog-sort-label,
.sort-list-item{
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort-sum{
  font-size: 21px;
  line-height: 26px;
}

.catalog-sort-list,
.catalog-list{
  list-style: none;
}

.sort-list-item{
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted rgb(129,179,210);
  color: rgb(177,177,177);
  vertical-align: top;
}

.active-sort{
  color: rgb(129,179,210);
  border: none;
}

.sort-list-item:focus{
  color: rgb(129,179,210);
  border: none;
}

.sort-list-item:hover{
  color: rgb(129,179,210);
}

.sort-list-item:active{
  color: rgb(0,0,0);
  border: none;
}

.catalog-item-title{
  font-size: 21px;
  line-height: 26px;
  color: rgb(0,0,0);
}

.catalog-item-title:hover,
.catalog-item-title:focus{
  color: rgb(129,179,210);
}

.catalog-item-title:active{
  color: rgb(202,202,202);
}

.catalog-item-describtion{
  font-weight: 400;
  margin-bottom: 15px;
}

.button-description,
.button-booking{
  font-weight: 400;
  color: rgb(255,255,255);
  text-align: center;
  vertical-align: middle;
  padding: 3px 15px;
}

.button-booking{
  padding:3px 15px;
}

.button-description{
  background-color: rgb(129,179,210);
}

.button-description:hover{
  background-color: rgb(102,158,192);
}

.button-description:active{
  background-color: rgb(84,150,189);
  color: rgba(255,255,255,0.3);
}

.button-booking{
  background-color: rgb(118,99,87);
}

.button-booking:hover{
  background-color: rgb(96,78,67);
}

.button-booking:active{
  background-color: rgb(80,62,51);
  color: rgba(255,255,255,0.3);
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  /*возможно, раширить*/
}

/*Сеточные стили*/
html,
body{
  min-width: 1200px;
  min-height: 250px;
}

.main-header{
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-header-logo{
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  }

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
  padding-right: 70px;
  padding-left: 70px;
  justify-content: space-between;
}

.site-navigation-item{
  width:23%;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4){
  text-align: right;
}

.site-navigation-item:nth-child(2),
.site-navigation-item:nth-child(3){
  flex-grow: 1;
}


.container{
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255,255,255);
  box-shadow:  0 0 15px rgba(0,0,0,0.5);
}

.main-image{
  margin-bottom: 63px;
  box-sizing: border-box;
}

.main-image-text{
  display: block;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  margin-bottom: 29px;
  font-weight: 400;
}

.headers{
  margin-bottom: 50px;
  text-align: center;
  min-width: 580px;
  padding-left: 310px;
  padding-right: 310px;
}

.first-part-city{
  display: flex;
}

.first-part-image-city{
  width: 800px;
  background-image: url('../img/city.jpg');
  background-color: rgb(242,242,242);
  background-position: center;
}

.first-part-image-mountain{
  width: 800px;
  background-image: url('../img/mountain.jpg');
  background-color: rgb(242,242,242);
  background-position: center;
}

.feature-name{
  margin-top: 0px;
  margin-bottom: 23px;
}

.feature-content{
  margin-top: 0px;
  margin-bottom: 25px;
}

.feature-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin:0;
}

.fearutes-items{
  width: 400px;
  padding-top: 50px;
  padding-bottom: 34px;
}

.fearutes-items-ico{
  text-align: center;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 63px;
}

.fearutes-ico{
  margin-bottom: 25px;
}

.first-part-mountain{
  display: flex;
  margin-bottom: 0px;
}

.modal-find-title{
  padding-top: 50px;
  text-align: center;
}

.modal-find-header{
  margin-top: 0px;
  margin-bottom: 25px;
}

.modal-find-content{
  margin-top: 0px;
  margin-bottom: 45px;
}

.main-footer,
.footer-other-page{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 35px;
  padding-top:35px;
  width: 1200px;
}

.main-footer{
  position:absolute;
  transform: translateY(-100%);
  background-color: rgba(255,255,255,0.9);
}

.tag{
  width:400px;
}

.social{
  width: 400px;
}

.copyrights{
  width: 400px;
}

.footer-logo{
  width: 115px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.footer-text{
  margin-right: 10px;
  color: rgb(0,0,0);
}

.copyrights-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo:hover path,
.footer-logo:focus path{
  fill: rgb(129,179,210);
}

.footer-logo:active path{
  fill: rgb(189,187,188);
}

.filter-hotel{
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-left: 72px;
  padding-right: 70px;
}

.filter{
  margin-bottom: 30px;
}

.filter-fieldset{
  width: 255px;
  margin: 0;
  padding: 0;
}

.filter-column{
  width: 320px;
  padding-left: 224px;
  padding-right: 0px;
  padding-top: 0px;
  }

.filter-legend-price{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.8px;
  }

.price-value{
  position: relative;
  height: 33px;
  margin-bottom: 22px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-value::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-value label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-value .min-price,
.price-value .max-price {
  width: 80px;
  padding-left: 66px;
}

.price-value input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: normal;
}

.price-range{
  position: relative;
  margin-bottom: 31px;
}

.price-range .scale{
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.price-range .bar{
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle:disabled {
  background: #1c4f80;
  color:rgb(0,0,0);
  border-color: rgb(109,109,109);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-legend{
  font-size: 16px;
  margin-bottom: 28px;
}

.filter-button{
  position: relative;
  width: 100%;
}

.filter-show{
  cursor: pointer;
  position: absolute;
  right: 50%;
  transform: translateX(45%);
}

.filter-option{
  margin-bottom: 24px;
}

.filter-option label::before{
  content: " ";
  position: absolute;
  width: 26px;
  height: 23px;
  left: 0;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  color: rgb(255,255,255);
}

.filter-hotel input[type='checkbox']:checked + label::before{
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-hotel input[type='checkbox']:disabled + label::before{
  opacity: 0.3;
}

.filter-hotel input[type='checkbox']:focus + label{
    outline: rgb(255,255,255) dashed 1px;
}

.catalog-sort{
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 30px;
}

.catalog-sort-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-top: 0px;
  vertical-align: top;
}

.catalog-sort-column:nth-of-type(1){
  width: 165px;
}

.catalog-sort-column:nth-of-type(2){
  display: flex;
  width: 857px;
  vertical-align: bottom;
  padding-top: 5px;
}

.catalog-sort-option{
  display: flex;
}

.sort-down,
.sort-up{
  border: none;
  background-color: rgb(255,255,255);
  padding: 0px;
  vertical-align: bottom;
}

.sort-up{
  margin-right: 7px;
}

.button-sort:hover{
  cursor: pointer;
}

/*focus*/
.button-sort:hover path,
.button-sort:focus path{
  fill: rgb(0,0,0);
}

.button-sort:active path{
  fill: rgb(129,179,210);
}

.catalog-list{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 3px;
}

.catalog-sort-list li{
  margin-right: 35px;
}

.catalog-item{
  display: flex;
  border-top: 1px solid rgb(229,229,229);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 25px;
  padding-bottom: 29px;
}

.catalog-item:last-child{
  border-bottom: 1px solid rgb(229,229,229);
}

.catalog-item-image{
  width: 165px;
  padding-top:5px;
}

.catalog-item-image a{
  display: inline-block;
  vertical-align: middle;
}

.catalog-item-image img{
  vertical-align: middle;
}

.catalog-item-column-card{
  flex-grow: 1;
  min-width: 300px;
}

.catalog-item-rating{
  text-align: right;
  min-width: 110px;
}

.catalog-item-card h3{
  margin-top: 0;
  margin-bottom: 7px;
}

.catalog-item-card-columns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog-item-card-column-1,
.catalog-item-card-column-2{
  display: flex;
  flex-direction: column;
  width: 110px;
  padding-right: 7px;
}

.catalog-item-card-column-2{
  width: 145px;
}

.catalog-item-stars{
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.catalog-item-stars li{
  margin-left: 4px;
}

.rating-sum{
  font-weight: 400;
  background-color: rgb(229,229,229);
  text-align: center;
  padding-top: 3px;
  padding-bottom: 2px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal-find-calendar{
      top: 0;
  }

  .modal-find-calendar:focus{
    background-image: url('../img/calendar-hover.svg');
  }

  .modal-find-calendar:active{
    background-image: url('../img/calendar-active.svg');
  }

  .button-sort:hover path,
  .button-sort:focus path{
    fill: rgb(0,0,0);
  }

  .button-sort:active path{
    fill: rgb(129,179,210);
  }

  .date-label{
    margin-right: 20px;
  }

  .price-value input {
    line-height: 15px;
  }

}
