body{
  margin: 0;
  padding: 0;
  background-color: rgb(242,242,242);
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*поработать над бэкграундом*/
.main-image{
  background-image: url('../img/background-photo.jpg');
  background-color: rgb(129,179,210);
  width: 1200px;
  height: 510px;
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
  /*сделать обрезку фона*/
}

.main-header{
  background-color: rgb(255,255,255);
}

.filter{
  background-image: url('../img/background-photo.jpg');
  background-color: rgb(129,179,210);
  width: 1200px;
  height: 215px;
  background-position: center;
  background-repeat:no-repeat;
  /*сделать обрезку фона и blur*/
  }

.main-image-border{
  background-image: url('../img/background-white-1200.png');
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  }

.header{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.modal-find-header{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0px;
  margin-bottom: 25px;
}

.headers p{
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

a{
  text-decoration: none;
}

.main-header{
  background-color: rgb(255,255,255);
  }

.site-navigation{
  line-height: 26px;
  /*background-color: rgb(255,255,255);*/
  list-style: none;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover{
  color: rgb(129,179,210);
}

.site-navigation a:active{
  color: rgba(0,0,0);
}

.site-navigation-current a{
  color: rgba(118,99,87);
}

.feature-list{
  list-style: none;
}

.fearutes-items{
  text-align: center;
}

.feature-name{
  font-size: 21px;
}

.feature-content{
  font-weight: 400;
}

.feature-one .description,
.feature-two .description{
  background-color: rgb(129,179,210);
  text-align: center;
  color: rgb(255,255,255);
  width: 400px;
  padding-top: 25px;
  padding-bottom: 35px;
}

.feature-two{
  background-color: rgb(238,238,238);
}

.modal-find-title p{
  line-height: 24px;
  font-weight: 400;
}

.modal-open{
  font: inherit;
  line-height: 26px;
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118,99,87);
  color: rgb(255,255,255);
  text-transform: uppercase;
  border: none;
}

.modal-open:focus,
.modal-open:hover {
  background-color: rgb(96,78,67);
}

.modal-open:active{
  background-color: rgb(80,62,51);
  color: rgba(255,255,255,0.3);
}

.modal input{
  font: inherit;
  /*color: black;*/
  text-transform: uppercase;
  border: none;
  background-color: rgb(238,238,238);
  cursor: pointer;
}

.modal input:hover{
  background-color: rgb(235,235,235);
}

.modal input:focus{
  background-color: rgb(255,255,255);
  border-color: rgb(255,255,255);
}

.date-input,
.person-input{
  background-color: rgb(238,238,238);
  border: none;

}

.modal-find-start{
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(129,179,210);
  color: rgb(255,255,255);
  text-transform: uppercase;
  border: none;
}

.modal-find-start:focus,
.modal-find-start:hover {
  background-color: rgb(102,158,192);
}

.modal-find-start:active{
  background-color: rgb(84,150,189);
  color: rgba(255,255,255,0.3);
}

.map{
  background-image: url('../img/map.jpg');
  width: 1200px;
  height: 470px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.tag{
  line-height: 26px;
  font-size: 21px;
  text-align: center;
}

/*footer*/

.social{
  text-align: center;
}

.social-list{
  list-style:none;
}

.copyrights{
  line-height: 26px;
  text-align: center;
}

/*catalog*/

.filter {
  color: rgb(255,255,255);
}

.filter fieldset {
  border: none;
}

.filter-list{
  list-style: none;
}

legend{
  font-size: 16px;
}

.filter-option{
  font-weight: 400;
}

.price-value input{
  font: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255,255,255);
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

.price-value input:focus,
.price-value input:active{
  border: none;
}

.price-value{
  border: 2px solid rgb(255,255,255);
}

.filter-show{
  font: inherit;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0,0,0,0);
  color: rgb(255,255,255);
  text-transform: uppercase;
  border: 2px solid rgb(255,255,255);
}

.filter-show:focus,
.filter-show:hover {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.catalog-sort-label,
.sort-list-item{
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort-sum{
  font-size: 21px;
  line-height: 26px;
}


.catalog-sort-list,
.catalog-list{
  list-style: none;
}

.sort-list-item{
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted rgb(129,179,210);
  color: rgb(177,177,177);
  vertical-align: top;
}

.sort-list-item:focus{
  color: rgb(129,179,210);
  border: none;
}

.sort-list-item:hover{
  color: rgb(129,179,210);
}

.sort-list-item:active{
  color: rgb(0,0,0);
  border: none;
}

.catalog-item-title{
  font-size: 21px;
  line-height: 26px;
  color: rgb(0,0,0);
}

.catalog-item-title:hover{
  color: rgb(129,179,210);
}

.catalog-item-title:active{
  color: rgb(0,0,0,0.3);
}

.catalog-item-describtion{
  font-weight: 400;
  margin-bottom: 15px;
}

.button-description,
.button-booking{
  font-weight: 400;
  color: rgb(255,255,255);
  text-align: center;
  vertical-align: middle;
}

.button-description{
  background-color: rgb(129,179,210);
}

.button-description:hover{
  background-color: rgb(102,158,192);
}

.button-description:active{
  background-color: rgb(84,150,189);
  color: rgba(255,255,255,0.3);
}

.button-booking{
  background-color: rgb(118,99,87);
}

.button-booking:hover{
  background-color: rgb(96,78,67);
}

.button-booking:active{
  background-color: rgb(80,62,51);
  color: rgba(255,255,255,0.3);
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  /*расширить*/
}

/*Сеточные стили*/
html,
body{
  min-width: 1200px;
  min-height: 250px;
}

.main-header{
  position: relative;
  height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-header-logo{
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  }

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
  text-align: center;
  vertical-align: center;
}

.site-navigation-item{
  width:20%;
}

.site-navigation-item:nth-child(2){
  margin-right: 240px;
}

.container{
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255,255,255);
}

.main-image{
  margin-bottom: 60px;
}

.main-image-text{
  margin: auto;
}

.header{
  margin-bottom: 30px;
}

.headers{
  margin-bottom: 50px;
  text-align: center;
  min-width: 580px;
  padding-left: 310px;
  padding-right: 310px;
}

.first-part-city{
  display: flex;
}

.first-part-image-city{
  width: 800px;
  background-image: url('../img/city.jpg');
}

.first-part-image-mountain{
  width: 800px;
  background-image: url('../img/mountain.jpg');
}

.feature-name{
  margin-bottom: 25px;
}

.feature-content{
  margin-bottom: 25px;
}

.feature-list{
  display: flex;
  padding: 0;
  margin:0;
}

.fearutes-items{
  width: 400px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.fearutes-items-ico{
  text-align: center;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 55px;
}

.first-part-mountain{
  display: flex;
  margin-bottom: 0px;
}

.modal-find-title{
  padding-top: 30px;
  text-align: center;
}

.modal-find-content{
  margin-bottom: 25px;
}

.main-footer{
  display: flex;
}

.tag{
  width:400px;
}

.social{
  width: 400px;
}

.copyrights{
  width: 400px;
}

.filter-hotel{
  display: flex;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 70px;
}

.filter{
  margin-bottom: 30px;
}

fieldset{
  width: 240px;
  padding: 0;
  margin: 0;
}

.filter-column{
  width: 320px;
  padding-left: 250px;
  }

.price-value{
  display: flex;
}

.filter-legend{
  margin-bottom: 15px;
}

.filter-legend-price{
  margin-bottom: 10px;
}

.price-value{
  margin-bottom: 10px;
}

.price-range{
  margin-bottom: 20px;
}

.filter-button{
  position: relative;
  width: 100%;
}

.filter-show,
modal-find-start{
  cursor: pointer;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
}

.filter-option{
  margin-bottom: 20px;
}


.catalog-sort{
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 30px;
}

.catalog-sort-list{
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-top: 0px;
  vertical-align: top;
}

.catalog-sort-column:nth-of-type(1){
  width: 165px;
}

.catalog-sort-column:nth-of-type(2){
  display: flex;
  width: 855px;
  vertical-align: bottom;
  padding-top: 5px;
}

.catalog-sort-option{
  display: flex;
}

.catalog-list{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-sort-list li{
  width: 80px;
}

.catalog-item{
  display: flex;
  border-top: 1px solid rgb(229,229,229);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-item:last-child{
  border-bottom: 1px solid rgb(229,229,229);
}

.catalog-item-image{
  width: 165px;
  padding-top:5px;
}

.catalog-item-card{
  width: 780px;
}

.catalog-item-rating{
  text-align: right;
  width: 110px;
}

.catalog-item-card h3{
  margin-top: 0;
  margin-bottom: 5px;
}

.catalog-item-card-columns{
  display: flex;
  flex-direction: row;
}

.catalog-item-card-column{
  display: flex;
  flex-direction: column;
  width: 110px;
  padding-right: 5px;
}

.catalog-item-stars{
  margin-bottom: 40px;
}

.rating-sum{
  font-weight: 400;
  background-color: rgb(229,229,229);
  text-align: center;
  padding: 5px 7px;
}

.modal-find{
  width:570px;
  margin: auto;
  border: 1px solid black;
  padding: 55px;
  position: relative;
  }

.find-hotel-group{
  display: flex;
  margin-bottom: 25px;
}

.person{
  margin-bottom:50px;
  position: relative;
}



.date-input{
  flex-shrink: 2;
}
